<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <h4 class="product-heading"><%= link_to product.name, product %></a></h4>
          <%= link_to (image_tag product.image), product %>
          <div class="caption">
            <h4 class="pull-left">CZK: <%= product.price %></h4>
            <p class="pull-right">
              <a href="#" class="btn btn-success">Add to cart</a>
            </p>
          </div>
        </div>
      </div>
    <% end %>
</div>

